:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.advanced-button {
  /* Define your button styles here */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.advanced-button:hover {
  /* Define hover styles */
  background-color: #0056b3;
}

.advanced-button:active {
  /* Define active styles */
  background-color: #003d80;
}
